<a href="https://colab.research.google.com/github/atenash/data-science-course/blob/main/Assignment4PosgreSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import libraries**

In [ ]:
import requests
import json
import pandas as pd
import csv
import psycopg2

**Make a connection to PostgreSQL**

In [ ]:
conn = psycopg2.connect(database="db_name",
                        user='postgres', password='', 
                        host='', port='5432'
)

conn.autocommit = True
cursor = conn.cursor()

**Create the Table**

In [ ]:
sql = """
    Create table if not exists house_prices (
    id serial primary key,
    MSSubclass integer,
    MSZoning varchar(10),
    Lotfrontage float,
    LotArea integer,
    Street varchar(10),
    Alley varchar(10),
    LotShape varchar(10),
    LandContour varchar(10),
    Utilities varchar(10),
    LotConfig varchar(10),
    LandSlope varchar(10),
    Neighboorhood varchar(20),
    Condition1 varchar(20),
    Condition2 varchar(20),
    BldgType varchar(10),
    HouseStyle varchar(10),
    OverallQual integer,
    OverallCond integer,
    YearBuilt integer,
    YearRemodAdd integer,
    RoofStyle varchar(10),
    RoofMatl varchar(10),
    Exterior1st varchar(20),
    Exterior2nd varchar(20),
    MasVnrType varchar(20),
    )
    """
   
cursor.execute(sql)

**Insert Data to the table**

In [ ]:
sql2 = '''COPY house_prices(id serial primary key,
    MSSubclass integer,
    MSZoning varchar(10),
    Lotfrontage float,
    LotArea integer,
    Street varchar(10),
    Alley varchar(10),
    LotShape varchar(10),
    LandContour varchar(10),
    Utilities varchar(10),
    LotConfig varchar(10),
    LandSlope varchar(10),
    Neighboorhood varchar(20),
    Condition1 varchar(20),
    Condition2 varchar(20),
    BldgType varchar(10),
    HouseStyle varchar(10),
    OverallQual integer,
    OverallCond integer,
    YearBuilt integer,
    YearRemodAdd integer,
    RoofStyle varchar(10),
    RoofMatl varchar(10),
    Exterior1st varchar(20),
    Exterior2nd varchar(20),
    MasVnrType varchar(20),)
FROM 'E:\Data Science\\assignment\\4\\train.csv'
DELIMITER ','
CSV HEADER;'''
  
cursor.execute(sql2)

**SQL Queries**

Find the average sale price of houses in each neighborhood

Find the most expensive house and its characteristics

Find the average sale price of houses with central air conditioning versus those without

In [ ]:
sql3 = '''select neighborhood, AVG(saleprice) as avg_sale_price
          from house_prices
          GROUP BY neighborhood
          ORDER BY avg_sale_price DESC;'''
cursor.execute(sql3)


sql4= '''select *
          from house_prices
          WHERE saleprice= (
            SELECT MAX(saleprice)
            FROM house_prices);'''
cursor.execute(sql4)



sql5= '''select centralair, AVG(saleprice) AS avg_sale_price
          from house_prices
          GROUP BY centralair;'''
cursor.execute(sql5)


for i in cursor.fetchall():
    print(i)
  
conn.commit()
conn.close()